In [31]:

import numpy as np  #to make all those numpy arrays and all
import pandas as pd #to use csv in readable
from sklearn.model_selection import train_test_split #to make training and test data
from sklearn.linear_model import LogisticRegression #
from sklearn.metrics import accuracy_score #to see the accuracy

import warnings
warnings.filterwarnings("ignore")

data collection

In [32]:
heartdata=pd.read_csv('/content/heart_disease_data.csv') #the csv data into a heart data of the form pandas frame

In [33]:
heartdata.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [34]:
print(heartdata)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [35]:
heartdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [36]:
heartdata.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [37]:
heartdata.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [38]:
heartdata=pd.get_dummies(heartdata , columns=['sex' ,'cp', 'fbs' , 'restecg' , 'exang' , 'slope' , 'ca' , 'thal'])

In [39]:
heartdata['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [40]:
#splitting features and target
X=heartdata.drop(columns='target' , axis=1)  #axis=1 for column
Y=heartdata['target']

In [41]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [42]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [43]:
print(X.shape , X_train.shape , X_test.shape)

(303, 30) (242, 30) (61, 30)

In [44]:
#loading the lr model
model =LogisticRegression()

In [45]:
#training now lrm with training data
model.fit(X_train, Y_train)

LogisticRegression()

In [46]:
#model evaluation using accuracy score
#accuracy on the training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction , Y_train)

In [47]:
print(training_data_accuracy)

0.8801652892561983

In [48]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction , Y_test)

In [49]:
print(test_data_accuracy)

0.819672131147541

In [50]:
# input_data = (41,0,1,130,204,0,0,170,0,1.4,2,0,2)

# # change the input data to a numpy array
# input_data_as_numpy_array= np.asarray(input_data)

# # reshape the numpy array as we are predicting for only on instance
# input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# result = model.predict(input_data_reshaped)
# if(result[0]==1):
#   print('you gonna die')
# else:
#     print('you cool')

In [51]:
print(X_train)

     age  trestbps  chol  thalach  oldpeak  sex_0  sex_1  cp_0  cp_1  cp_2  \
61    54       108   309      156      0.0      0      1     0     1     0
238   77       125   304      162      0.0      0      1     1     0     0
160   56       120   240      169      0.0      0      1     0     1     0
158   58       125   220      144      0.4      0      1     0     1     0
289   55       128   205      130      2.0      1      0     1     0     0
..   ...       ...   ...      ...      ...    ...    ...   ...   ...   ...
100   42       148   244      178      0.8      0      1     0     0     0
49    53       138   234      160      0.0      1      0     1     0     0
300   68       144   193      141      3.4      0      1     1     0     0
194   60       140   185      155      3.0      0      1     0     0     1
131   49       134   271      162      0.0      1      0     0     1     0

     ...  slope_2  ca_0  ca_1  ca_2  ca_3  ca_4  thal_0  thal_1  thal_2  \
61   ...        1     1     0     0     0     0       0       0       0
238  ...        1     0     0     0     1     0       0       0       1
160  ...        0     1     0     0     0     0       0       0       1
158  ...        0     0     0     0     0     1       0       0       0
289  ...        0     0     1     0     0     0       0       0       0
..   ...      ...   ...   ...   ...   ...   ...     ...     ...     ...
100  ...        1     0     0     1     0     0       0       0       1
49   ...        1     1     0     0     0     0       0       0       1
300  ...        0     0     0     1     0     0       0       0       0
194  ...        0     1     0     0     0     0       0       0       1
131  ...        0     1     0     0     0     0       0       0       1

     thal_3
61        1
238       0
160       0
158       1
289       1
..      ...
100       0
49        0
300       1
194       0
131       0

[242 rows x 30 columns]

In [52]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier()
classifier.fit(X_train , Y_train)

KNeighborsClassifier()

In [53]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [54]:
import pickle
pickle.dump(classifier , open('modle.pkl' , 'wb'))
pickle.dump(sc , open('sc.pkl' , 'wb'))